.App {
	height: 100vh;
	text-align: center;
}

.mapboxgl-map {
	height: 100%;
}

.spiderifier-marker-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  color: rgb(255, 255, 255);
  background-color: rgb(195, 38, 94);
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  border-radius: 50%;
  margin-left: -14px;
  margin-top: -14px;

  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.29);
  font-size: 8px;
  font-weight: bold;

  text-align: center;
  border: 1px solid;
}

.mapboxgl-popup {
	z-index: 999;
}
